<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qd.douyinwu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 闪关灯权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 一键分享 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.tiktokdemo.lky.tiktokdemo.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/bpe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bpe"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".DyMainActivity"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme2.NoActionBar" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5934cbf475ca350c06000cfb" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" /> <!-- android 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <activity-alias
            android:name="com.fly.video.downloader.ShareActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/share_recv_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />
                <!-- <action android:name="android.intent.action.SEND_MULTIPLEND"/> -->
                <data android:mimeType="text/plain" />

                <!--
                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="image/png"/>
                <data android:mimeType="application/zip"/>
                <data android:mimeType="application/rar"/>
                <data android:mimeType="audio/amr"/>
                -->
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.fly.video.downloader.DownloadVideoActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.tiktokdemo.lky.tiktokdemo.record.RecordVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tiktokdemo.lky.tiktokdemo.record.VideoPlayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.tiktokdemo.lky.tiktokdemo.record.VideoCropActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>